<section class="about-why-choose">
  <div class="page-width">
    <h2>why choose delta 8 thc </h2>
    <div class="about-why-choose-flex">
      <div class="about-why-choose-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/chose-img1.png?v=1646743679">
        <h4>LAB TESTED
          <span>FOR ACCURACY</span></h4>
      </div>
      <div class="about-why-choose-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/chose-img2.png?v=1646743703">
        <h4>FAST FREE SHIPPING ON <span>EVERY PRODUCT</span></h4>
      </div>
      <div class="about-why-choose-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/chose-img3.png?v=1646743736">
        <h4>100% NATURAL
          <span>INGREDIENTS</span></h4>
      </div>
      <div class="about-why-choose-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/chose-img4.png?v=1646743754">
        <h4>RISK FREE
          <span>30 DAY MONEY BACK</span></h4>
      </div>
      <div class="about-why-choose-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/chose-img5.png?v=1646743768">
        <h4>DERIVED FROM LEGAL 
          <span>COMPLIANT HEMP</span></h4>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
