<section class="faqs-sec">
    <div class="page-width">
      <h2> {{ page.title }} </h2>
      <div class="faqs-content">
        <div class="accordion_container">
            {% for faq in section.blocks %}
                {% if faq.settings.quiz != blank %}
                <div class="accordian-tabs faqs-accordian-tabs">
                    <div class="accordion_head">
                    <h4> {{ faq.settings.quiz }} </h4>
                    </div>
                    <div class="accordion_body">
                    <p>
                        {{ faq.settings.answer }}
                    </p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </section>

  
  {% schema %}
  {
      "name" : "FAQs",
      "settings" : [],
      "blocks":
      [
        {
            "type" : "FAQ",
            "name" : "FAQ",
            "settings":
            [
               {
                   "type": "textarea",
                   "id": "quiz",
                   "label": "Question"
               },
              {
                  "type": "textarea",
                  "id": "answer",
                  "label": "Answer"
              }
            ]
        }
      ]
  }
  {% endschema %}