<section class="trusted-customer">
  <div class="page-width">
    <p>Our customers say
      Outstanding<span><img src=""></span>4.8 out of 5 based on 118  reviews</p>
  </div>
</section>  





{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
