<section class="product-detail-accordion">
  <div class="page-width">
    <div class="product-detail-accordion-flex">
      <div class="product-accordion-img-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/delta-thc.png?v=1646734090">
      </div>
      <div class="product-accordion-text-col">
        <div class="accordion_container">
          <div class="accordian-tabs faqs-accordian-tabs">
            <div class="accordion_head">
              <h3>What is Delta 8 THC? </h3>
            </div>
            <div class="accordion_body">
              <p>
                So you’re curious about trying Delta 8 THC. Congrats! You’re in for a real therapeutic treat. 

                But we get it… You’re not 100% sure if you even understand what Delta 8 THC is, let alone if it’s a legit cannabinoid that’s safe to consume. 
              </p>
            </div>
          </div>
          <div class="accordian-tabs faqs-accordian-tabs">
            <div class="accordion_head">
              <h4>What are the effects of Delta 8 THC?  
              </h4>
            </div>
            <div class="accordion_body" style="display: none;">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </div>
          </div>
          <div class="accordian-tabs faqs-accordian-tabs">
            <div class="accordion_head">
              <h4>Benefits of Delta 8 THC   
              </h4>
            </div>
            <div class="accordion_body" style="display: none;">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </div>
          </div>
          <div class="accordian-tabs faqs-accordian-tabs">
            <div class="accordion_head">
              <h4>Buying Delta 8 THC   
              </h4>
            </div>
            <div class="accordion_body" style="display: none;">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </div>
          </div>
        </div>
        <div class="product-accordion-detail">
          <a href="#" class="btn"><span>Read More</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product-detail-accordion product-detail-loop">
  <div class="page-width">
    <div class="product-detail-accordion-flex">
      <div class="product-accordion-text-col">
        <h3>Is Delta 8 Legit and Safe to Consume?</h3>
        <p>So you’re curious about trying Delta 8 THC. Congrats! You’re in for a real therapeutic treat. </p>

        <p>But we get it… You’re not 100% sure if you even understand what Delta 8 THC is, let alone if it’s a legit cannabinoid that’s safe to consume. </p>

        <p>Here’s the good news… Delta 8 THC is 100% a legit, legal cannabinoid! And as for its safety profile, multiple studies have shown it to hold tremendous medicinal properties for the human body. So, yes… High quality, pure Delta 8 THC is safe to consume [¹].</p> 
        <div class="product-accordion-detail">
          <a href="#" class="btn"><span>Read More</span></a>
        </div>
      </div>
      <div class="product-accordion-img-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/delta-thc2.png?v=1646737288">
      </div>
      
    </div>
    <div class="product-detail-accordion-flex">
      <div class="product-accordion-text-col">
        <h3>Is Delta 8 Legit and Safe to Consume?</h3>
        <p>So you’re curious about trying Delta 8 THC. Congrats! You’re in for a real therapeutic treat. </p>

        <p>But we get it… You’re not 100% sure if you even understand what Delta 8 THC is, let alone if it’s a legit cannabinoid that’s safe to consume. </p>

        <p>Here’s the good news… Delta 8 THC is 100% a legit, legal cannabinoid! And as for its safety profile, multiple studies have shown it to hold tremendous medicinal properties for the human body. So, yes… High quality, pure Delta 8 THC is safe to consume [¹].</p> 
        <div class="product-accordion-detail">
          <a href="#" class="btn"><span>Read More</span></a>
        </div>
      </div>
      <div class="product-accordion-img-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/delta-thc3.png?v=1646737853">
      </div>
      
    </div>
  </div>
</section>


{% schema %}
{
"name": "Image With Text",
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
