<section class="trusted-customer">
  <div class="page-width">
    <div class="trusted-customer-flex">
      <div class="trusted-customer-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/trusted-customer-img1.png?v=1646821559">
        <h6>LAB TESTED
          <span>FOR ACCURACY</span></h6>
      </div>
      <div class="trusted-customer-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/trusted-customer-img2.png?v=1646821593">
        <h6>DERIVED FROM LEGAL
          <span>COMPLIANT HEMP</span></h6>
      </div>
      <div class="trusted-customer-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/trusted-customer-img3.png?v=1646821621">
        <h6>100% NATURAL
          <span>INGREDIENTS</span></h6>
      </div>
      <div class="trusted-customer-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/trusted-customer-img4.png?v=1646821648">
        <h6>FAST FREE SHIPPING ON
          <span>EVERY PRODUCT</span></h6>
      </div>
      <div class="trusted-customer-col">
        <img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/trusted-customer-img5.png?v=1646821672">
        <h6>RISK FREE
          <span>30 DAY MONEY BACK</span></h6>
      </div>
    </div>
  </div>
</section>  





{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
