<style> .summary-text span {color:#fff !important;} </style>
<div id="looxReviews" data-product-id="{{product.id}}" class="loox-reviews-default color-summary">{{ product.metafields.loox.reviews }}</div>

{% schema %}
{
"name": "Product Reviews",
"settings": []
}
{% endschema %}