<section class="trusted-customer">
  <div class="page-width">
    <div class="trusted-customer-flex">
      {% for feature in section.blocks %}
      {% if feature.settings.heading != blank %}
        <div class="trusted-customer-col">
          <img src="{{  feature.settings.image | img_url: 'original' }}" class="lazyload" alt="{{ feature.settings.heading | escape | strip_html }}">
          <h6>{{ feature.settings.heading }}</h6>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>  

{% schema %}
  {
    "name": "Product Features",
    "settings": [],
    "blocks":
    [
      {
        "type" : "Features",
        "name" : "Features",
        "settings":
        [
            {
              "type": "text",
              "id": "heading",
              "label": "Heading"
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
