<section class="trusted-customer">
  <div class="page-width">
    <p>Our customers say
      Outstanding<span><img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/trusted-customer.png?v=1646820989"></span>4.8 out of 5 based on 118  reviews</p>
  </div>
</section>  





{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
