<section class="trusted-customer">
  <div class="page-width">
    <p class="trustpilot-text">Our customers say
      Outstanding<span><img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/trusted-customer.png?v=1646820989"></span>4.8 out of 5 based on 118  reviews</p>
    <div class="trusted-customer-flex">
      <div class="trusted-customer-col">
        <img src="">
        <h6>LAB TESTED
          <span>FOR ACCURACY</span></h6>
      </div>
      <div class="trusted-customer-col">
        <img src="">
        <h6>DERIVED FROM LEGAL
          <span>COMPLIANT HEMP</span></h6>
      </div>
      <div class="trusted-customer-col">
        <img src="">
        <h6>100% NATURAL
          <span>INGREDIENTS</span></h6>
      </div>
    </div>
  </div>
</section>  





{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
