<section class="lab-report-sec">
  <div class="page-width">
    <h2>lab reports</h2>
    <div class="lab-report-flex">
      <div class="lab-report-col">
          <div class="lab-report-text">
            <span class="lab-star"><img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/lab-star.svg?v=1646811076"></span>
            <span class="pdf-img"><img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/pdf-img.png?v=1646811122"></span>
            <h4>30ML Full Spectrum Tincture
              Lab Reports</h4>
            <div class="batch-flex">
              <h6>Batch ID 9052099</h6>
              <a href="#"><img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/download-icon.svg?v=1646811154"></a>
            </div>
        </div>
      </div>
      <div class="lab-report-col">
          <div class="lab-report-text">
            <span class="lab-star"><img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/lab-star.svg?v=1646811076"></span>
            <span class="pdf-img"><img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/pdf-img.png?v=1646811122"></span>
            <h4>30ML Full Spectrum Tincture
              Lab Reports</h4>
            <div class="batch-flex">
              <h6>Batch ID 9052099</h6>
              <a href="#"><img src="https://cdn.shopify.com/s/files/1/0631/1280/6647/files/download-icon.svg?v=1646811154"></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>