<section class="faqs-sec">
  <div class="page-width">
    <h2>FAQ(frequently asked question)</h2>
    <div class="faqs-content">
         <div class="accordion_container">
          <div class="accordian-tabs faqs-accordian-tabs">
            <div class="accordion_head">
              <h3>Is Delta 8 Legit and Safe to Consume?</h3>
            </div>
            <div class="accordion_body">
              <p>
                Delta 8 is a very rare cannabinoid. In fact, it only exists in the cannabis plant (which includes both
marijuana and hemp) in small concentrations of 1% or less. This may explain why cultivators and
hemp brands feel like they’ve won the lottery when they get their hands on some Delta 8. 
              </p>
            </div>
          </div>
          <div class="accordian-tabs faqs-accordian-tabs">
            <div class="accordion_head">
              <h4>Is Delta 8 THC Safe?   
              </h4>
            </div>
            <div class="accordion_body" style="display: none;">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </div>
          </div>
          <div class="accordian-tabs faqs-accordian-tabs">
            <div class="accordion_head">
              <h4>Where is Delta 8 available?    
              </h4>
            </div>
            <div class="accordion_body" style="display: none;">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </div>
          </div>
          <div class="accordian-tabs faqs-accordian-tabs">
            <div class="accordion_head">
              <h4>Where can I buy Delta 8?    
              </h4>
            </div>
            <div class="accordion_body" style="display: none;">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </div>
          </div>
           <div class="accordian-tabs faqs-accordian-tabs">
            <div class="accordion_head">
              <h4>What is Delta 8 THC?     
              </h4>
            </div>
            <div class="accordion_body" style="display: none;">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </div>
          </div>
           <div class="accordian-tabs faqs-accordian-tabs">
            <div class="accordion_head">
              <h4>What are the effects of Delta 8 THC?      
              </h4>
            </div>
            <div class="accordion_body" style="display: none;">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </div>
          </div>
           <div class="accordian-tabs faqs-accordian-tabs">
            <div class="accordion_head">
              <h4>Does Delta 8 THC get you high?       
              </h4>
            </div>
            <div class="accordion_body" style="display: none;">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
              </p>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>